            body {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                divne-height: 1.6em;
            }
            .head1{
                font-size: 28px;
                color: #9c3507}
            .head2{
                font-size: 10px;
                color: #039;}

@media only screen and (max-device-width: 1080px) {
    .blue_table{width: 1200px;}
    .cell{padding-left: 10px;padding-right: 10px}
             }

            .blue_table{
                display: table;
                width: 100%;
                height: 100%;
                border: 1px;
            }
            .blue_head{
                display:table-row;
                font-size: 100%;
                font-weight: bold;
                padding: 1px 2px;
                background-color :#d0dafd;
                color: darkslategrey;
            }
            .blue_row{
                display:table-row;
                font-size: 100%;
                color:#111922;
                padding: 1px 2px;
                background-color: #fbfbfb;

            }
            .cell{
                display: table-cell;
                padding-right: 30px;

                /*width: 100px;*/
            }


            table.green_table
            {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 14px;
                width:100%;
                text-align: left;
                border-collapse: collapse;
            }
            thead.green_row_head th.head_reduce
            {
                font-weight: bold;
                padding: 1px 2px;
                color: #039;
                text-align: center;
                font-size: 120%;
                white-space: nowrap;

            }
            thead.green_row_head tr
            {
                /*display: table-row;*/
                font-weight: bold;
                padding: 1px 2px;
                color: #039;
            }
            tr.green_row{
                /*display: table-row;*/
                padding: 1px 2px;
                color: #039;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            td.green_cell
            {
                /*witdh:auto;*/
                display: table-cell;
                padding: 3px 6px;
                white-space: nowrap;
                /*color: #669;*/
                border-top: 1px solid #e8edff;
            }
            #separate
            {border-right:1px solid #E5E5E5;}


            tr.green_row td.green_cell:first-child
            {
                background: #c9fbc0;
                width: auto;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }
            thead.green_row_head th.head_reduce:first-child
            {
                background: #c9fbc0;
                width: auto;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }

            tr.green_row:hover td.green_cell
            {
                color: #339;
                background: #eff2ff;
            }

            /*折叠*/
            .accordion_hd span{
                display: inline-block;
                width: 10%;
            }
            .accordion_hd span:first-child{
                display: inline-block;
                width: 30%;
            }
            .accordion_hder{
                background: #a2a2a2
            }
            .accordion_hder span{
                display: inline-block;
                width: 10%;
                font-size: larger;
                font-weight: bold
            }
            .accordion_hder span:first-child{
                display: inline-block;
                width: 30%;
                font-size: larger;
                font-weight: bold
            }
