<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js" xmlns="http://www.w3.org/1999/html"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}

<form method=post enctype=multipart/form-data>
    <span>
        <span style="text-align: center;display:block;">
            <span style="border: #0d3349;font-weight: bold">截止日期：</span>
            <input type="text" name="date_end" value="{{ date_end }}" readonly class="form_datetime" >
            <span style="border: #0d3349;font-weight: bold"> 日间隔(天):</span>
            <input type="text" name="days_form" value="{{ days_form}}" style="font-size: 20px">
            <input type="submit" class="startButton" value="查询">
        </span>

    </span>
</form>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: "yyyy-mm-dd",
        minView: 2});
</script>


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <div class=flashes>
        <div style="color: red" > {{ message }}</div>
    </div>
</div>
{% endfor %}

<br>
<h1 class="head1">日数据</h1>
<hr width="70%" align="left">
<span style="border: #0d3349;font-weight: bold;text-align: center;display:block;color: palevioletred">【{{date_start}} - {{date_end}}&nbsp;】uv>19的文章排名</span>
<br>
<table class="blue_table"  >
    <thead class="blue_head">
    <tr>
        <th class="cell">标题</th>
        <th class="cell">pv</th>
        <th class="cell">uv</th>
        <th class="cell">入口页次数</th>
        <th class="cell">贡献下游浏览量</th>
        <th class="cell">退出页次数</th>
        <th class="cell">平均停留时长</th>
        <th class="cell">退出率</th>
    </tr>
    </thead>
    <tbody>
    {% for i in dct_urls %}
    <tr class="blue_row">
        <td class="cell"><a href={{ i }} target="_blank">{{ i }}</a></td>
        <td class="cell">{{ dct_urls[i]['pv_count'] }}</td>
        <td class="cell">{{ dct_urls[i]['visitor_count'] }}</td>
        <td class="cell">{{ dct_urls[i]['visit1_count']}}</td>
        <td class="cell">{{ dct_urls[i]['outward_count']}}</td>
        <td class="cell">{{ dct_urls[i]['exit_count']}}</td>
        <td class="cell">{{ dct_urls[i]['average_stay_time']}}</td>
        <td class="cell">{{ dct_urls[i]['exit_ratio']}}%</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

    <!--<div class="table3-top" style="width: 90%;height: 80%;  margin: 0 auto;">-->
<!--{{ overlap_day|safe }}-->
    <!--</div>-->
{% endblock %}
