<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js" xmlns="http://www.w3.org/1999/html"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}
<div >
<form method=post enctype=multipart/form-data>
    <table style="margin: 0 auto;width: 60%">
        <thead style="font-size: 25px;color: #2d6987">
        <tr>
            <th>时间段选择</th>
            <th>查询内容选择</th>
        </tr>
        </thead>
        <tbody>
        <tr style="witdh:100px">
            <td>
            <span style="border: #0d3349;font-weight: bold;">截止日期:</span>
            <input type="text" name="date_end" value="{{ date_end }}" readonly class="form_datetime" >
            </td>
            <td>
            <span style="border: #0d3349;font-weight: bold">查询类别:</span>
            <select name="selected">
                {%for key in dct_selected%}
                <option value={{ key }}{% if key == selected_type %} selected {% endif %} >{{dct_selected[key]}}</option>
                {%endfor%}
            </select>
            </td>
        </tr>
        <tr>
            <td>
                <span style="border: #0d3349;font-weight: bold">开始日期(几天前):</span>
                <input type="text" name="days_form" value="{{ days_form}}" style="width:30px;font-size: 14px">
            </td>
            <td>
                <span style="border: #0d3349;font-weight: bold">标题关键词:</span>
                <input type="text" name="keyword_title" value="{{keyword_title}}" style="font-size: 14px">
            <br>
                <span style="border: #0d3349;font-weight: bold">链接关键词:</span>
                <input type="text" name="keyword_url" value="{{ keyword_url}}" style="font-size: 14px">
                <br>
                <span style="border: #0d3349;font-weight: bold">作者:</span>
                <input type="text" name="author_name" value="{{ author_name}}" style="font-size: 14px"></td></tr>
        </tbody>

        </table>
            <input style="margin: 0 auto;display: block;width: 10%;height: 3rem;border-radius:10px;background-color: #eff2ff" type="submit" class="startButton" value="查询">
</form>
</div>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: "yyyy-mm-dd",
        minView: 2});
</script>


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <div class=flashes>
        <div style="color: red" > {{ message }}</div>
    </div>
</div>
{% endfor %}

<div>
<h1 class="head1">日数据</h1>
<hr width="100%" align="left">
<span style="border: #0d3349;font-weight: bold;text-align: center;display:block;color: palevioletred">{{dct_type}}【{{date_start}} - {{date_end}}&nbsp;】uv>19的链接排名</span>
<br>
<table class="green_table" >
    <thead class="green_row_head">
    <tr>
        <th class="green_cell" style="width:60px" >标题</th>
        <th class="green_cell" style="width:6px" >趋势</th>
        <th class="green_cell">作者</th>
        <th class="green_cell">pv</th>
        <th class="green_cell">uv</th>
        <th class="green_cell">入口页次数</th>
        <th class="green_cell">贡献下游浏览量</th>
        <th class="green_cell">退出页次数</th>
        <th class="green_cell">平均停留时长</th>
        <th class="green_cell">退出率</th>
        <th class="green_cell">类型</th>

    </tr>
    </thead>
    <tbody>
    {% for i in dct_urls %}
    <tr class="green_row">
        <td class="green_cell" style="background-color: #eff2ff;width: 60px"><a href={{ i }} target="_blank">{{ dct_urls[i]['title'] }}</a></td>
        <th class="green_cell" style="width:6px" ><a href={{ dct_urls[i]['article_curve'] }}>🐰</a></th>
        <td class="green_cell">{{ dct_urls[i]['author_name'] }}</td>
        <td class="green_cell">{{ dct_urls[i]['pv_count'] }}</td>
        <td class="green_cell">{{ dct_urls[i]['visitor_count'] }}</td>
        <td class="green_cell">{{ dct_urls[i]['visit1_count']}}</td>
        <td class="green_cell">{{ dct_urls[i]['outward_count']}}</td>
        <td class="green_cell">{{ dct_urls[i]['exit_count']}}</td>
        <td class="green_cell">{{ dct_urls[i]['average_stay_time']}}</td>
        <td class="green_cell">{{ dct_urls[i]['exit_ratio']}}%</td>
        <td class="green_cell">{{ dct_urls[i]['link_type'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
    <!--<div class="table3-top" style="width: 90%;height: 80%;  margin: 0 auto;">-->
<!--{{ overlap_day|safe }}-->
    <!--</div>-->
{% endblock %}
