<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js" xmlns="http://www.w3.org/1999/html"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}
<div >
<form method=post enctype=multipart/form-data>
    <span>
        <span style="text-align: center;display:block;">
            <span style="border: #0d3349;font-weight: bold">日期：</span>
            <input id="date" type="date" name="date_end" value="{{ date_end }}">
            <input type="submit" class="startButton" value="查询">
        </span>

    </span>
</form>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: "yyyy-mm-dd",
        minView: 2});
</script>


{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <div class=flashes>
        <div style="color: red" > {{ message }}</div>
    </div>
</div>
{% endfor %}

<div>
<h1 class="head1">运营人员</h1>
<hr width="100%" align="left">

<table class="blue_table" style="width: 500px" >
    <thead class="blue_head">
    <tr>
        <th class="cell" style="width:60px" >作者</th>
        <th class="cell" style="width:60px" >文章数</th>
        <th class="cell" style="width:6px" >点击数</th>
        <th class="cell">大图数</th>
        <th class="cell">文库数</th>
        <th class="cell">头条数</th>
    </tr>
    </thead>
    <tbody>
    {% for i in members_operations %}
    <tr class="blue_row">
        <td class="cell" style="background-color: #eff2ff;width: 40%">{{ i }}</td>
        <td class="cell" >{{members_operations[i]['member_id_count']|int}}</td>
        <td class="cell" >{{members_operations[i]['stream_count_sum']|int}}</td>
        <td class="cell">{{ members_operations[i]['datu_count_sum'] |int}}</td>
        <td class="cell">{{ members_operations[i]['wenku_count_sum'] |int}}</td>
        <td class="cell">{{ members_operations[i]['toutiao_count_sum'] |int}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
<br>
    <div>
<h1 class="head1">运营文章</h1>
<hr width="100%" align="left">
<table class="green_table" >
    <thead class="green_row_head">
    <tr>
        <th class="green_cell" style="width:60px" >标题</th>
        <th class="green_cell" style="width:6px" >作者</th>
        <th class="green_cell">发布时间</th>
        <th class="green_cell">点击</th>
        <th class="green_cell">大图</th>
        <th class="green_cell">头条</th>
        <th class="green_cell">文库</th>

    </tr>
    </thead>
    <tbody>
    {% for i in articles_operations %}
    <tr class="green_row">
        <td class="green_cell" style="background-color: #eff2ff;width: 40%">{{ articles_operations[i]['v_title'] }}</a></td>
        <td class="green_cell" style="width:6px" >{{articles_operations[i]['v_name']}}</td>
        <td class="green_cell">{{ articles_operations[i]['d_time'] }}</td>
        <td class="green_cell">{{ articles_operations[i]['stream_count'] }}</td>
        <td class="green_cell">{{ articles_operations[i]['datu_count'] }}</td>
        <td class="green_cell">{{ articles_operations[i]['toutiao_count']}}</td>
        <td class="green_cell">{{ articles_operations[i]['wenku_count']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
    <!--<div class="table3-top" style="width: 90%;height: 80%;  margin: 0 auto;">-->
<!--{{ overlap_day|safe }}-->
    <!--</div>-->
{% endblock %}
