<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js" xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>{% endblock %}
{% block page_content %}

<br><br>
<form action="/circle-dr" method=post >
选择日期：
    <input size="16" type="text" name="input" value="{{ thatdate }}" readonly class="form_datetime">
    <input type="submit" class="startButton" value="查询">
</form>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',minView:2});
</script>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <div class=flashes>
        <div><font color="red"> {{ message }}</font></div></div>
</div>
{% endfor %}

<br>
<h1 class="head1">日数据</h1>
<hr width="70%" align="left">
<div class="blue_table"  >
    <div class="blue_head">
        <div class="cell">日期</div>
        <div class="cell">内容登录uv</div>
        <div class="cell">新增登录uv</div>
        <div class="cell">内容pv</div>
        <div class="cell">匿名pv占比</div>

    </div>
    {% for i in data_daily %}
    <div class="blue_row">
        <div class="cell">{{ i[0] }}</div>
        <div class="cell">{{ i[1] }}</div>
        <div class="cell">{{ i[2]}}</div>
        <div class="cell">{{ i[3]}}</div>
        <div class="cell">{{ i[4]}}%</div>

    </div>
    {% endfor %}
</div>
    <!--<div class="table3-top" style="width: 90%;height: 80%;  margin: 0 auto;">-->
<!--{{ overlap_day|safe }}-->
    <!--</div>-->

<h2 class="head2" style=" font-size: 18px;
                color: darkgreen;">帖子详情</h2>
<hr width="70%" align="left">
<table class="green_table">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell">帖子标题</th>
        <th class="green_cell">圈子</th>
        <th class="green_cell">登录uv</th>
        <th class="green_cell">新增登录uv</th>
        <th class="green_cell">pv</th>
        <th class="green_cell">匿名pv占比</th>
        <th class="green_cell">总评论数</th>
        <th class="green_cell">当日评论</th>
        <th class="green_cell">总马克数</th>
        <th class="green_cell">当日马克</th>
    </tr>
    </thead>
    <tbody>
    {% for i in posts_daily %}
    <tr class="green_row">
        <td class="green_cell">{{ i[0] }}</td>
        <td class="green_cell">{{ i[1] }}</td>
        <td class="green_cell">{{ i[3]}}</td>
        <td class="green_cell">{{ i[4] }}</td>
        <td class="green_cell">{{ i[5] }}</td>
        <td class="green_cell">{{ i[6] }}%</td>
        <td class="green_cell">{{ i[7] }}</td>
        <td class="green_cell">{{ i[8] }}</td>
        <td class="green_cell">{{ i[9] }}</td>
        <td class="green_cell">{{ i[10] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
 <h2 class="head2" style=" font-size: 18px;
                color: darkgreen;">圈子详情</h2>
<hr width="70%" align="left">
<table class="green_table">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell">圈子</th>
        <th class="green_cell">登录uv</th>
        <th class="green_cell">新增登录uv</th>
        <th class="green_cell">pv</th>
        <th class="green_cell">匿名pv占比</th>
        <th class="green_cell">总评论数</th>
        <th class="green_cell">当日评论</th>
        <th class="green_cell">总马克数</th>
        <th class="green_cell">当日马克</th>
        <th class="green_cell">总关注数</th>
        <th class="green_cell">当日关注</th>
    </tr>
    </thead>

    <tbody>
    {% for i in boards_daily %}
    <tr class="green_row">
        <td class="green_cell">{{ i[0] }}</td>
        <td class="green_cell">{{ i[1] }}</td>
        <td class="green_cell">{{ i[2]}}</td>
        <td class="green_cell">{{ i[3] }}</td>
        <td class="green_cell">{{ i[4] }}%</td>
        <td class="green_cell">{{ i[5] }}</td>
        <td class="green_cell">{{ i[6] }}</td>
        <td class="green_cell">{{ i[7] }}</td>
        <td class="green_cell">{{ i[8] }}</td>
        <td class="green_cell">{{ i[9] }}</td>
        <td class="green_cell">{{ i[10] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
{% endblock %}

<br><br>