<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}{{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>{% endblock %}

{% block page_content %}

<br>
    <h1 class="head1">总数据</h1>
    <hr width="70%" align="left">
<div class="blue_table "  >
    <div class="blue_head " >
        <div class="cell">总圈子数</div>
        <div class="cell">活跃圈子数</div>
        <div class="cell">总登录uv</div>
        <div class="cell">总pv</div >
        <div class="cell">总文章数</div>
        <div class="cell">总视频数</div>
        <div class="cell">总发布者</div>
        <div class="cell">总马克</div>
        <div class="cell">总评论</div>
        <div class="cell">总私信</div>
    </div>
    <div class="blue_row " >
        <div class="cell">{{ data_totality[0][0] }}</div>
        <div class="cell">{{ data_totality[0][1] }}</div>
        <div class="cell">{{ data_totality[0][2] }}</div>
        <div class="cell">{{ data_totality[0][3] }}</div>
        <div class="cell">{{ data_totality[0][4] }}</div>
        <div class="cell">{{ data_totality[0][5] }}</div>
        <div class="cell">{{ data_totality[0][6] }}</div>
        <div class="cell">{{ data_totality[0][7] }}</div>
        <div class="cell">{{ data_totality[0][8] }}</div>
        <div class="cell">{{ data_totality[0][9] }}</div>


    </div>
</div>


{% endblock %}

<br><br>