<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://pyecharts.github.io/assets/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}
    <br>
        <h1 class="head1" >总数据</h1>
    <hr width="70%" align="left">
        <div class="blue_table"  style="font-size: 20px;width: 50%;">
        <ul class="blue_head">
            <li class="cell">年份</li>
            <li class="cell">总销量</li >
            <li class="cell">总销售额</li>
            <li class="cell">总购买人数</li>
        </ul>
                <ul class="blue_row"> <li class="cell">2016</li>
            <li class="cell">1470</li>
            <li class="cell">￥19193200</li>
            <li class="cell">952</li></ul>
            <ul class="blue_row"> <li class="cell">2017</li>
            <li class="cell">{{ ec_year[1][1] }} </li>
            <li class="cell">￥47652570</li>
            <li class="cell">{{ ec_year[1][3] }}</li></ul>
            <ul class="blue_row"> <li class="cell">{{ec_year[2][0]}}</li>
            <li class="cell">{{ec_year[2][1]}}</li>
            <li class="cell">￥{{ec_year[2][2]}}</li>
            <li class="cell">{{ec_year[2][3]}}</li></ul>
            <ul class="blue_row"> <li class="cell">{{ec_year[3][0]}}</li>
            <li class="cell">{{ec_year[3][1]}}</li>
            <li class="cell">￥{{ec_year[3][2]}}</li>
            <li class="cell">{{ec_year[3][3]}}</li></ul>
{#        +2925729#}
    </div>
    <h2 class="head2" style=" font-size: 18px;
                color: gray;">99元会员</h2>

        <div class="green_table">
        <div class="green_row_head">
            <div class="green_cell" id="first_group" width="30%">分类</div>
            <div class="green_cell">会员数</div>
            <div class="green_cell">订单数</div>
            <div class="green_cell">总订单金额</div>
            <div class="green_cell">人均订单数</div>
            <div class="green_cell">人均订单金额</div>
        </div>
            {% for i in ec_vip %}
                <div class="green_row">
                    <div class="green_cell" id="first_group" width="30%">{{ i[0] }}</div>
                    <div class="green_cell">{{ i[1] }}</div>
                    <div class="green_cell">{{ i[2] }}</div>
                    <div class="green_cell">￥{{ i[3]|int }}</div>
                    <div class="green_cell">{{ (i[2]/i[1])|int }}</div>
                    <div class="green_cell">￥{{ (i[3]/i[1])|int }}</div>
                </div>
            {% endfor %}
        </div>
    <br>
            <h2 class="head2" style=" font-size: 18px;
                color: gray;">重点产品自主下单</h2>
        <div class="green_table">
        <div class="green_row_head">
            <div class="green_cell" id="first_group" width="30%">平台</div>
            <div class="green_cell">产品</div>
            <div class="green_cell">销量</div>
            <div class="green_cell">价格</div>
        </div>
        {% for i in ec_goods %}
            <div class="green_row">
                <div class="green_cell" id="first_group" width="30%">{{ i[0] }}</div>
                <div class="green_cell">{{ i[1] }}</div>
                <div class="green_cell" >{{ i[2] }}</div>
                <div class="green_cell">￥{{ i[3]|int}}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

