<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}
    <br><br>

<h2 class="head2" style=" font-size: 18px;
                color: gray;">周毛利表</h2>
<table class="green_table">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell" >周</th>
        <th class="green_cell">总销货额</th>
        <th class="green_cell">总毛利</th>
        <th class="green_cell">总毛利率</th>
        <th class="green_cell">顾问式销货额</th>
        <th class="green_cell">顾问式毛利</th>
        <th class="green_cell">顾问式毛利率</th>
        <th class="green_cell">自主销货额</th>
        <th class="green_cell">自主毛利</th>
        <th class="green_cell">自主毛利率</th>
        <th class="green_cell">影音店销货额</th>
        <th class="green_cell">影音店毛利</th>
        <th class="green_cell">影音店毛利率</th>
    </tr>
    </thead>
    <tbody>
    {% for i in result_ec_table_week %}
    <tr class="green_row">
        <td class="green_cell" >{{ i[0] }}</td>
        <td class="green_cell">{{ i[1] }}</td>
        <td class="green_cell" >{{ i[2] }}</td>
        <td class="green_cell">{% if i[1]>0 %}{{ (i[2]*100/i[1])|int}}{%else%}{{ 0 }}{% endif %}%</td>
        <td class="green_cell">{{ i[3] }}</td>
        <td class="green_cell" >{{ i[4] }}</td>
        <td class="green_cell">{% if i[3]>0 %}{{ (i[4]*100/i[3])|int}}{%else%}{{ 0 }}{% endif %}%</td>
        <td class="green_cell">{{ i[5] }}</td>
        <td class="green_cell" >{{ i[6] }}</td>
        <td class="green_cell">{% if i[5]>0 %}{{ (i[6]*100/i[5])|int}}{%else%}{{ 0 }}{% endif %}%</td>
        <td class="green_cell">{{ i[7] }}</td>
        <td class="green_cell" >{{ i[8] }}</td>
        <td class="green_cell">{% if i[7]>0 %}{{ (i[8]*100/i[7])|int}}{%else%}{{ 0 }}{% endif %}%</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br><br>

<h2 class="head2" style=" font-size: 18px;
                color: gray;">月毛利表</h2>
<table class="green_table">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell" >月</th>
        <th class="green_cell">总销货额</th>
        <th class="green_cell">总毛利</th>
        <th class="green_cell">总毛利率</th>
        <th class="green_cell">顾问式销货额</th>
        <th class="green_cell">顾问式毛利</th>
        <th class="green_cell">顾问式毛利率</th>
        <th class="green_cell">自主销货额</th>
        <th class="green_cell">自主毛利</th>
        <th class="green_cell">自主毛利率</th>
        <th class="green_cell">影音店销货额</th>
        <th class="green_cell">影音店毛利</th>
        <th class="green_cell">影音店毛利率</th>
    </tr>
    </thead>
    <tbody>
    {% for i in result_ec_table_month %}
    <tr class="green_row">
        <td class="green_cell" >{{ i[0] }}</td>
        <td class="green_cell">{{ i[1] }}</td>
        <td class="green_cell" >{{ i[2] }}</td>
        <td class="green_cell">{% if i[1]>0 %}{{ (i[2]*100/i[1])|int}}{%else%}{{ 0 }}{% endif %}%</td>
        <td class="green_cell">{{ i[3] }}</td>
        <td class="green_cell" >{{ i[4] }}</td>
        <td class="green_cell">{% if i[3]>0 %}{{ (i[4]*100/i[3])|int}}{%else%}{{ 0 }}{% endif %}%</td>
        <td class="green_cell">{{ i[5] }}</td>
        <td class="green_cell" >{{ i[6] }}</td>
        <td class="green_cell">{% if i[5]>0 %}{{ (i[6]*100/i[5])|int}}{%else%}{{ 0 }}{% endif %}%</td>
        <td class="green_cell">{{ i[7] }}</td>
        <td class="green_cell" >{{ i[8] }}</td>
        <td class="green_cell">{% if i[7]>0 %}{{ (i[8]*100/i[7])|int}}{%else%}{{ 0 }}{% endif %}%</td>
    </tr>
    {% endfor %}
    </tbody>



{% endblock %}

