<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}
<br><br>
<form action="/ec-wr" method=post >
选择日期：<input size="16" type="text" name="input" value="{{ thatdate }}" readonly class="form_datetime">
    <input type="submit" class="startButton" value="查询">
</form>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',minView:2});
</script>
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <div class=flashes>
        <div><font color="red"> {{ message }}</font></div></div>
</div>
{% endfor %}
<br>
<h1 class="head1">周数据</h1>
<hr width="70%" align="left">
<table class="blue_table"  style="font-size: 20px">
    <thead class="blue_head">
    <tr>
        <th class="cell">本周</th>
        <th class="cell">自主下单销量</th >
        <th class="cell">自主下单销售额</th>
    </tr>
    </thead>
    <tbody>
    <tr class="blue_row" >
        <td class="cell">{{ ec_week[0][0] }}</td>
        <td class="cell">{{ ec_week[0][1] }}</td>
        <td class="cell">￥{{ ec_week[0][2] }}</td>
    </tr>
    </tbody>
</table>
<br>
{{ overlap_week|safe }}
<br><br>
<h2 class="head2" style=" font-size: 18px; color: gray;">平台分类数据</h2>
<table class="green_table">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell" >类别</th>
        <th class="green_cell">销量</th>
        <th class="green_cell">来自圈子数量</th>
        <th class="green_cell">销售额</th>
        <th class="green_cell">客单价</th>
    </tr>
    </thead>
    <tbody>
        {% for i in ec_type_week %}
        <tr class="green_row">
            <td class="green_cell" >{{ i[0] }}</td>
            <td class="green_cell">{{ i[1] }}</td>
            <td class="green_cell">{{ i[2]}}</td>
            <td class="green_cell">￥{{ i[3]}}</td>
            <td class="green_cell">￥{{ i[4]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2 class="head2" style=" font-size: 18px;
                color: gray;">99元会员</h2>

<table class="green_table">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell" >类别</th>
        <th class="green_cell">新增会员数</th>
        <th class="green_cell">下单会员数</th>
        <th class="green_cell">订单数</th>
        <th class="green_cell">总订单金额</th>
        <th class="green_cell">人均订单数</th>
        <th class="green_cell">人均订单金额</th>
    </tr>
    </thead>
    <tbody>
    <tr class="green_row">
        <td class="green_cell" >{{ ec_vip_week[0][0] }}</td>
        <td class="green_cell">{{ ec_vip_week_sale[0][0] }}</td>
        <td class="green_cell">{{ ec_vip_week[0][1] }}</td>
        <td class="green_cell">{{ ec_vip_week[0][2] }}</td>
        <td class="green_cell">￥{{ ec_vip_week[0][3]|int }}</td>
        {% if ec_vip_week[0][1] %}
        <td class="green_cell">{{ (ec_vip_week[0][2]/ec_vip_week[0][1])|int }}</td>
        <td class="green_cell">￥{{ (ec_vip_week[0][3]/ec_vip_week[0][1])|int }}</td>
        {% else %}
        <td class="green_cell">0</td>
        <td class="green_cell">0</td>
        {% endif %}
    </tr>
    </tbody>
        </table>
            <!--<h2 class="head2" style=" font-size: 18px;-->
                <!--color: gray;">重点产品自主下单</h2>-->
            <!--<div class="green_table">-->
        <!--<div class="green_row_head">-->
            <!--<div class="green_cell" >平台</div>-->
            <!--<div class="green_cell">产品</div>-->
            <!--<div class="green_cell">销量</div>-->
            <!--<div class="green_cell">价格</div>-->

        <!--</div>-->
        <!--{% for i in ec_goods_week %}-->
            <!--<div class="green_row">-->
                <!--<div class="green_cell" >{{ i[0] }}</div>-->
                <!--<div class="green_cell">{{ i[1] }}</div>-->
                <!--<div class="green_cell" >{{ i[2] }}</div>-->
                <!--<div class="green_cell">￥{{ i[3]|int}}</div>-->

            <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
<br><br>
   

{% endblock %}

