<!DOCTYPE html  >
{% extends "base.html" %}
{% block head %}{{ super() }}
    <script src="https://pyecharts.github.io/assets/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}
    <div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <div class=flashes>
                <div><font color="red"> {{ message }}</font></div></div>
        </div>
    {% endfor %}
<br>
    <h1 class="head1">总数据</h1>
    <hr width="70%" align="left">
        <div style="overflow: hidden">
            <li class="blue_table"  style="float:left; font-size: 20px;width: 50%;">
                <ul class="blue_head">
                    <li class="cell">年份</li>
                    <li class="cell">总销量</li >
                    <li class="cell">总销售额</li>
                    <li class="cell">总购课人数</li>
                    <li class="cell">毛利</li>
                    <li class="cell">毛利率</li>
                </ul>
                {% for i in edu_year %}
                    <ul class="blue_row">
                        <li class="cell">{{ i[0] }}</li>
                        {% if i[0]==2018|string %}
                            <li class="cell">{{ i[1] +edu_xiaoe[0][0]}}</li>
                            <li class="cell">￥{{ i[2]+edu_xiaoe[0][1] }}</li>
                            <li class="cell">{{ i[3] +edu_xiaoe[0][2]}}</li>
                            <li class="cell">￥{{ i[4] +edu_xiaoe[0][3]}}</li>
                            <li class="cell">{{ ((i[4] +edu_xiaoe[0][3])*100/(i[2]+edu_xiaoe[0][1]))|int}}%</li>
                        {% else %}
                            <li class="cell">{{ i[1] }}</li>
                            <li class="cell">￥{{ i[2] }}</li>
                            <li class="cell">{{ i[3] }}</li>
                            <li class="cell">￥{{ i[4] }}</li>
                             <li class="cell">{{ (i[4]*100/ i[2])|int}}%</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </li>

            <div style="float: left;width: 20px">|     </div>
            <p class="head2" style=" font-size: 18px;
                color: gray;float: left">小鹅通&nbsp&nbsp&nbsp</p>
            <div class="blue_table"  style="font-size: 20px;width: 20%;text-align: center;">
                <ul class="blue_head">
                    <li class="cell">总销量</li >
                    <li class="cell">总流水</li>
                </ul>
                <ul class="blue_row">
                    <li class="cell">{{ edu_xiaoe[0][0]}}</li>
                    <li class="cell">￥{{ edu_xiaoe[0][1] }}</li>
                </ul>
                <ul class="blue_head">
                    <li class="cell">总购课人数</li>
                    <li class="cell">毛利</li>
                </ul>
                <ul class="blue_row">
                    <li class="cell">{{edu_xiaoe[0][2]}}</li>
                    <li class="cell">￥{{ edu_xiaoe[0][3] }}</li>
                </ul>
            </div>
        </div>
<br>

             <div class="green_table">
        <div class="green_row_head">
            <div class="green_cell" id="first_group" width="40%">课程名称</div>
            <div class="green_cell">教师</div>
            <div class="green_cell">销量</div>
            <div class="green_cell">均价</div>
            <div class="green_cell">销售额</div>
            <div class="green_cell">收入分成</div>

        </div>
        {% for i in edu_class_all %}
            <div class="green_row">
                <div class="green_cell" id="first_group" width="40%">{{ i[0] }}</div>
                <div class="green_cell">{{ i[1] }}</div>
                <div class="green_cell">{{ i[2]}}</div>
                <div class="green_cell">￥{{ i[3]}}</div>
                <div class="green_cell">￥{{ i[4]}}</div>
                <div class="green_cell">￥{{ i[5]}}</div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
</div>
<br><br>