<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
<script src="https://pyecharts.github.io/assets/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}



        <br><br>
        <form action="/index-sum" method=post >
选择日期：<input size="16" type="text" name="input" value="{{ thatdate }}" readonly class="form_datetime">
            <input type="submit" class="startButton" value="查询">

        </form>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',minView:2});
</script>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <div class=flashes>
                <div><font color="red"> {{ message }}</font></div></div>
        </div>
    {% endfor %}

<br>
   <h1 class="head1">{{year_sql}}部门汇总</h1>
<hr width="70%" align="left">
    <div style="overflow: hidden">
        <div class="blue_table"  style="width:400px;height: 350px;font-size: 22px; padding: 10px;float: left">
            <ul class="blue_head">
                <li class="cell">部门</li>
                <li class="cell">销售额</li >
            </ul>
            <ul class="blue_row" style="font-weight: bold">
                <li class="cell">合计</li><li class="cell">￥{{ (result_department[0][1]+result_department[1][1]+result_department[2][1]+result_department[3][1])|int }}</li>
            </ul>
            {% for j in result_department %}
                <ul class="blue_row" >
                    <li class="cell">{{ j[0] }}</li>
                    <li class="cell">￥{{ j[1] |int}}</li>
                </ul>
            {% endfor %}
        </div>

<div style="float: left">
{{ pie_department|safe }}
</div>
    </div>
    <br><br>
    {{ py_bar|safe }}

    <br><br>
   <h1 class="head1">{{year_sql}}项目汇总</h1>
<hr width="70%" align="left">

        <div class="blue_table"  style="font-size: 17px;">
            <ul class="blue_head">
                <li class="cell">部门</li><li class="cell">项目</li ><li class="cell">本月销售额</li ><li class="cell">本年销售额</li >
            </ul>
            {% for i in range(result_project|length) %}
            <ul class="blue_row" >
                <li class="cell">{{ result_project[i][0]}}</li>
                <li class="cell">{{ result_project[i][1] }}</li>
                <li class="cell">￥{{ result_project_thismonth[i][2]|int }}</li>
                <li class="cell">￥{{ result_project[i][2]|int }}</li>
            </ul>
            {% endfor %}
        </div>
    <br><br><br>
     <div class="green_table">
         <div class="green_row_head">
             <div class="green_cell" id="first_group" width="40%">部门</div>
             <div class="green_cell">合计</div>
            <div class="green_cell">学习</div>
            <div class="green_cell">学习</div>
            <div class="green_cell">学习</div>
            <div class="green_cell">学习</div>
            <div class="green_cell">媒体</div>
            <div class="green_cell">媒体</div>
            <div class="green_cell">设备</div>
            <div class="green_cell">设备</div>
            <div class="green_cell">设备</div>
            <div class="green_cell">设备</div>
            <div class="green_cell">设备</div>
            <div class="green_cell">城市</div>
            <div class="green_cell">城市</div>
             <div class="green_cell">城市</div>

        </div>
        <div class="green_row_head">
            <div class="green_cell" id="first_group" width="40%">月份</div>
            <div class="green_cell">合计</div>
            <div class="green_cell">产教融合</div>
            <div class="green_cell">csc</div>
            <div class="green_cell">ppxy</div>
            <div class="green_cell">媒体课程一体化</div>
            <div class="green_cell">广告</div>
            <div class="green_cell">一录同行</div>
            <div class="green_cell">维修</div>
            <div class="green_cell">租赁</div>
            <div class="green_cell">二手</div>
            <div class="green_cell">自主下单</div>
            <div class="green_cell">顾问销售</div>
            <div class="green_cell">场景库</div>
            <div class="green_cell">重庆</div>
            <div class="green_cell">电影周</div>

        </div>
        {% for i in result_month_compared %}
            <div class="green_row">
                <div class="green_cell" id="first_group" width="40%">{{ i[0]|int}}</div>
                <div class="green_cell">￥{{ i[1]|int }}</div>
                <div class="green_cell">￥{{ i[2]|int}}</div>
                <div class="green_cell">￥{{ i[3]|int}}</div>
                <div class="green_cell">￥{{ i[4]|int}}</div>
                <div class="green_cell">￥{{ i[5]|int}}</div>
                <div class="green_cell">￥{{ i[6]|int}}</div>
                <div class="green_cell">￥{{ i[7]|int}}</div>
                <div class="green_cell">￥{{ i[8]|int}}</div>
                <div class="green_cell">￥{{ i[9]|int}}</div>
                <div class="green_cell">￥{{ i[10]|int}}</div>
                <div class="green_cell">￥{{ i[11]|int}}</div>
                <div class="green_cell">￥{{ i[12]|int}}</div>
                <div class="green_cell">￥{{ i[13]|int}}</div>
                <div class="green_cell">￥{{ i[14]|int}}</div>
                <div class="green_cell">￥{{ i[15]|int}}</div>


            </div>
        {% endfor %}

    </div>


{% endblock %}