<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}



<br><br>
<form action="/index-sum" method=post >
选择日期：<input size="16" type="text" name="input" value="{{ thatdate }}" readonly class="form_datetime">
    <input type="submit" class="startButton" value="查询">
</form>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',minView:2});
</script>
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <div class=flashes>
        <div><font color="red"> {{ message }}</font></div></div>
</div>
{% endfor %}

<br>
   <h1 class="head1">{{year_sql}}部门汇总</h1>
<hr width="70%" align="left">
    <div style="overflow: hidden">
        <table class="blue_table"  style="width:400px;height: 350px;font-size: 22px; padding: 10px;float: left">
            <thead class="blue_head">
            <tr>
                <th class="cell">部门</th>
                <th class="cell">销售额</th >
            </tr>
            </thead>
            <tbody>
            {% for department in result_department %}
            <tr class="blue_row" >
                <td class="cell">{{ department }}</td>
                <td class="cell">￥{{ result_department[department] |int}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
<div style="float: left">
{{ pie_department|safe }}
</div>
    </div>
<br><br>
{{ py_bar|safe }}
 <br><br>
<h1 class="head1">{{year_sql}}项目汇总</h1>
<hr width="70%" align="left">
<table class="blue_table"  style="font-size: 17px;">
    <thead class="blue_head">
    <tr>
        <th class="cell">部门</th>
        <th class="cell">项目</th >
        <th class="cell">本月销售额</th >
        <th class="cell">本年销售额</th >
    </tr>
    </thead>
    <tbody>
    {% for department in result_project_thisyear %}
    {% for project in result_project_thisyear[department]%}
    <tr class="blue_row" >
        <td class="cell">{{ department}}</td>
        <td class="cell">{{ project }}</td>
        <td class="cell">￥{{ result_project_thismonth[department][project]|int }}</td>
        <td class="cell">￥{{ result_project_thisyear[department][project]|int }}</td>
    </tr>
    {% endfor%}
    {% endfor %}
</tbody>
</table>
<br><br><br>
<table class="green_table" style="width: 120%">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell">部门</th>
        {%for department in result_month[1]%}
        {%for project in result_month[1][department]%}
        <th class="green_cell">{{department}}</th>
        {%endfor%}
        {%endfor%}
    </tr>
    <tr class="green_row_head">
        <th class="green_cell" >月份</th>
        {%for department in result_month[1]%}
        {%for project in result_month[1][department]%}
        <th class="green_cell">{{project}}</th>
        {%endfor%}
        {%endfor%}
    </tr>
    </thead>
    <tbody>
    {% for month in result_month %}
    <tr class="green_row">
        <td class="green_cell">{{ month}}</td>
        {%for department in result_month[month]%}
        {%for project in result_month[month][department]%}
        <td class="green_cell">￥{{ result_month[month][department][project]|int}}</td>
        {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}