<!DOCTYPE html  >
{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block page_content %}
    <form method=post enctype=multipart/form-data>
        <span>
            <span style="text-align: center;display:block;">
                <span style="border: #0d3349;font-weight: bold"> member id :</span>
                <input type="text" name="member_id" value="{{member_id}}" style="font-size: 20px">
                <span style="border: #0d3349;font-weight: bold">截止时间：</span>
                <input type="text" name="time_end" value="{{ time_end }}" readonly class="datetimepicker1" >
                <span style="border: #0d3349;font-weight: bold"> 时段(h):</span>
                <input type="text" name="hours_form" value="{{hours_form}}" style="font-size: 20px">
                <input type="submit" class="startButton" value="查询">
            </span>
            <br>
            <span style="border: #0d3349;font-weight: bold;text-align: center;display:block;">姓名：{{member_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间区间：{{time_start}} - {{time_end}}</span>
            <span style="border: #0d3349;font-weight: bold;padding-left: 38%;display:block;">总关注：{{follow_all}}</span>
            <span style="border: #0d3349;font-weight: bold;padding-left: 38%;display:block;">总动态：{{activity_all}}</span>
            <span style="border: #0d3349;font-weight: bold;padding-left: 38%;display:block;">影人档案总浏览：{{profile_all}}</span>

        </span>
    </form>

    <script type="text/javascript">
    $(".datetimepicker1").datetimepicker({format: "yyyy-mm-dd hh:ii:ss",
        autoclose: true,
        todayBtn: true,
        minuteStep: 5,
        forceParse: 0});
    </script>

<br>
<div>
        {{ overlap_popular|safe }}
    <br>    <br>

        {{ overlap_active|safe }}
    </div>



{% endblock %}

