<!DOCTYPE html>
{% extends "base.html" %}
{% block page_content %}

<h1><font size="6">{% if current_user.username %}{{ current_user.username }}{%else %}影工人{%endif %},你好</font></h1>
<br>
<br>
    <font size="4">欢迎来到CineHello数据空间。</font><br><br>
    <p  style="font-size: 200%"> <a href="/index-sum" target="_blank" style="font-size: 200%">汇总</a></p><br>
<a href="/edu-dr" target="_blank" style="font-size: 250%">课程</a>&nbsp&nbsp&nbsp&nbsp
 <a href="/ec-dr" target="_blank" style="font-size: 250%">电商</a>&nbsp&nbsp&nbsp&nbsp
 <a href="/articles-rp" target="_blank" style="font-size: 250%">内容</a>&nbsp&nbsp&nbsp&nbsp
 <a href="/morning-dr" target="_blank" style="font-size: 250%">APP</a>

<br><br><br>
    <div style=" font-size:100%;bottom: 10px;">now:{{ now }}</div>


    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <ul class=flashes>
            <li><font color="red"> {{ message }}</font></li></ul>
    </div>
    {% endfor %}
{% endblock %}
