<!doctype html>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <ul class=flashes>
        <li><font color="red"> {{ message }}</font></li></ul>
</div>
{% endfor %}
<h1 class="head1">APP总数据(实时)</h1>
<hr width="70%" align="left">
<table class="blue_table"  style="font-size: 20px;width: 60%;">
    <thead class="blue_head" style="font-size: 18px">
    <tr>
        <th class="cell">总激活</th>
        <th class="cell">电话总数</th>
             <!--<li class="cell">通讯录关系数</li>-->
        <th class="cell">作品总数</th>
        <th class="cell">已审核作品</th>
        <th class="cell">字幕>50作品</th>
    </tr>
    </thead>
    <tbody>
    <tr class="blue_row">
        <td class="cell">{{activate_all}}</td>
        <td class="cell">{{contact_all}}</td>
             <!--<li class="cell">{{ relation_contact_all }}</li>-->
        <td class="cell">{{ works_all }}</td>
        <td class="cell">{{ works_checked }}</td>
        <td class="cell">{{ works_complete }}</td>
    </tr>
    </tbody>
</table>
 <br>
<table class="blue_table"  style="font-size: 20px;width: 70%;">
    <thead class="blue_head" style="font-size: 18px">
    <tr>
        <th class="cell">已录入职务总数</th>
        <th class="cell">已审核职务总数</th>
        <th class="cell">待认领职务总数</th>
        <th class="cell">认领用户总数</th>
    </tr>
    </thead>
    <tbody>
    <tr class="blue_row">
        <td class="cell">{{ workers_all }}</td>
        <td class="cell">{{ workers_checked }}</td>
        <td class="cell">{{ workers_unclaimed }}</td>
        <td class="cell">{{ claimers_all }}</td>
    </tr>
    </tbody>
</table>
<h1 class="head1">内容数据</h1>
<hr width="70%" align="left">
<table class="blue_table "  style="font-size: 20px;width: 80%;" >
    <thead class="blue_head " >
    <tr>
        <th class="cell">总圈子数</th>
        <th class="cell">活跃圈子数</th>
        <th class="cell">总文章数</th>
        <th class="cell">总视频数</th>
        <th class="cell">总发布者</th>
        <th class="cell">总马克</th>
        <th class="cell">总评论</th>
        <th class="cell">总私信</th>
    </tr>
    </thead>
    <tbody>
    <tr class="blue_row " >
        <td class="cell">{{ circle_all[0] }}</td>
        <td class="cell">{{ circle_all[1] }}</td>
        <td class="cell">{{ circle_all[2] }}</td>
        <td class="cell">{{ circle_all[3] }}</td>
        <td class="cell">{{ circle_all[4] }}</td>
        <td class="cell">{{ circle_all[5] }}</td>
        <td class="cell">{{ circle_all[6] }}</td>
        <td class="cell">{{ circle_all[7] }}</td>
    </tr>
    </tbody>
</table>

 <br>
<h1 class="head1">用户数据</h1>
<hr width="70%" align="left">
<div style="width: 120%">
    <div style="float: left;width: 40%">
        <table class="blue_table"  style="font-size: 15px;">
    <thead class="blue_head" style="font-size: 15px">
    <tr>
        <th class="cell">职业</th>
        <th class="cell">总人数</th>
        <th class="cell">学习人数</th>
        <th class="cell">电商人数</th>
        <th class="cell">激活人数</th>

    </tr>
    </thead>
    <tbody>
    {%for i in range(businesses['business_name']|length)%}
    <tr class="blue_row">
        <td class="cell">{{ businesses['business_name'][i] }}</td>
        <td class="cell">{{ businesses['business_all'][i] }}</td>
        <td class="cell">{{ businesses['business_edu'][i] }}</td>
        <td class="cell">{{ businesses['business_ec'][i] }}</td>
        <td class="cell">{{ businesses['business_activate'][i] }}</td>
    </tr>
        {%endfor%}
    </tbody>
</table>
    </div>
    <div style="float: right;width: 55%">
        <table class="green_table">
    <thead class="green_row_head">
    <tr>
        <th class="green_cell" >用户类别</th>
        <th class="green_cell">人数</th>
        <th class="green_cell">占比学员</th>
        <th class="green_cell">占比电商</th>
        <th class="green_cell">占比vip</th>
        <th class="green_cell">占比激活</th>
    </tr>
    </thead>
    <tbody>
    {% for genre in members_genres %}
    <tr class="green_row">
        <td class="green_cell" >{{genre }}</td>
        <td class="green_cell">{{ members_genres[genre]}}</td>
        {%for genre_key in ['学员','电商','vip','激活']%}
        {% if genre_key in genre %}
        <td class="green_cell">{{ (members_genres[genre]*100/members_genres[genre_key])|round(1)}}%</td>
        {%else%}
        <td class="green_cell">0</td>
        {%endif%}
        {%endfor%}
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>

<br><br>


<br><br><br>


{% endblock %}

