<!doctype html>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
{% block page_content %}
 <br>
<h1 class="head1">APP总数据(实时)</h1>
<hr width="70%" align="left">
<div class="blue_table"  style="font-size: 20px;width: 80%;">
    <ul class="blue_head">
        <li class="cell">总激活</li>
             <li class="cell">电话总数</li>
             <!--<li class="cell">通讯录关系数</li>-->
        <li class="cell">作品总数</li>
        <li class="cell">已审核作品</li>
        <li class="cell">全字幕作品</li>
        <li class="cell">职员总数</li>
        <li class="cell">认领用户总数</li>
    </ul>
    <ul class="blue_row">
        <li class="cell">{{activate_all}}</li>
             <li class="cell">{{contact_all}}</li>
             <!--<li class="cell">{{ relation_contact_all }}</li>-->
        <li class="cell">{{ works_all }}</li>
        <li class="cell">{{ works_checked }}</li>
        <li class="cell">{{ works_complete }}</li>
        <li class="cell">{{ workers_all }}</li>
        <li class="cell">{{ claimers_all }}</li>
    </ul>
</div>
 <br>
<h1 class="head1">内容数据</h1>
<hr width="70%" align="left">
<div class="blue_table "  style="font-size: 20px;width: 80%;" >
    <div class="blue_head " >
        <div class="cell">总圈子数</div>
        <div class="cell">活跃圈子数</div>
        <div class="cell">总文章数</div>
        <div class="cell">总视频数</div>
        <div class="cell">总发布者</div>
        <div class="cell">总马克</div>
        <div class="cell">总评论</div>
        <div class="cell">总私信</div>
    </div>
    <div class="blue_row " >
        <div class="cell">{{ circle_all[0] }}</div>
        <div class="cell">{{ circle_all[1] }}</div>
        <div class="cell">{{ circle_all[2] }}</div>
        <div class="cell">{{ circle_all[3] }}</div>
        <div class="cell">{{ circle_all[4] }}</div>
        <div class="cell">{{ circle_all[5] }}</div>
        <div class="cell">{{ circle_all[6] }}</div>
        <div class="cell">{{ circle_all[7] }}</div>
    </div>
</div>
 <br>
<h1 class="head1">用户数据</h1>
<hr width="70%" align="left">
 <div class="green_table">
        <div class="green_row_head">
            <div class="green_cell" id="first_group" width="30%">用户类别</div>
            <div class="green_cell">人数</div>
            <div class="green_cell">占比学员</div>
            <div class="green_cell">占比电商</div>
            <div class="green_cell">占比vip</div>
            <div class="green_cell">占比激活</div>
        </div>
            {% for genre in members_genres %}
            <div class="green_row">
                <div class="green_cell" id="first_group" width="30%">{{genre }}</div>
                <div class="green_cell">{{ members_genres[genre]}}</div>
                {%for genre_key in ['学员','电商','vip','激活']%}
                {% if genre_key in genre %}
                <div class="green_cell">{{ (members_genres[genre]*100/members_genres[genre_key])|round(1)}}%</div>
                {%else%}
                <div class="green_cell">0</div>
                {%endif%}
                {%endfor%}
            </div>
            {% endfor %}
        </div>

<br><br><br>
    {% for message in get_flashed_messages() %}
     <div class="alert alert-warning">
        <ul class=flashes>
            <li><font color="red"> {{ message }}</font></li></ul>
     </div>
    {% endfor %}

{% endblock %}

