<!doctype html>
{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts-en.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<style type="text/css" >
    .table_container div:first-child{font-weight:bold;}
</style>
{% endblock %}

{% block page_content %}
<form action="/morning-dr" method=post>
    选择日期：
    <input size="16" type="text" name="input" value="{{ thatdate }}" readonly class="form_datetime">
    <input type="submit" class="startButton" value="查询">
</form>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd', minView: 2});
</script>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <div class=flashes>
        <div><font color="red"> {{ message }}</font></div>
    </div>
</div>
{% endfor %}

<h1 class="head1">日数据</h1>
<hr width="70%" align="left">
<br>
<div class="green_table" style="width: 125%">
    <div class="green_row_head">
        <div class="green_cell" id="first_group" width="30%">日期</div>
        <div class="green_cell">活跃uv</div>
        <div class="green_cell">人均浏览次数</div>
        <div class="green_cell">登录人数</div>
        <div class="green_cell">首登人数</div>
        <div class="green_cell">激活人数</div>
        <div class="green_cell">激活成功人数</div>
        <div class="green_cell" style="background-color: whitesmoke">请求激活-成功</div>
        <div class="green_cell">授权人数</div>
        <div class="green_cell" style="background-color: whitesmoke">激活-授权</div>
        <div class="green_cell">认领人数</div>
        <div class="green_cell" style="background-color: whitesmoke">编辑动态发布数</div>
        <div class="green_cell">用户动态发布人数</div>
        <div class="green_cell">评论数</div>
        <div class="green_cell">点赞收藏数</div>
        <div class="green_cell">私信数</div>
    </div>
    <div class="green_row" style="font-weight: bold;font-size: 16px;color:mediumvioletred">
        <div class="green_cell" id="first_group" width="30%">{{ process_date[0] }}</div>
        <div class="green_cell">{{ active_members_days[0]|int }}</div>
        <div class="green_cell">{{ (active_times_days[0]/active_members_days[0])|round(1)}}</div>
        <div class="green_cell">{{ login_members_days[0] }}</div>
        <div class="green_cell">{{ login_newly_members_days[0]|int }}</div>
        <div class="green_cell">{{ activate_members_days[0]|int }}</div>
        <div class="green_cell">{{ activate_members_fin_days[0]|int }}</div>
        <div class="green_cell" style="background-color: whitesmoke">{{ (activate_members_fin_days[0]*100/activate_members_days[0])|int }}%</div>
        <div class="green_cell">{{ authorized_members_days[0]|int }}</div>
        <div class="green_cell" style="background-color: whitesmoke">{{ (authorized_members_days[0]*100/activate_members_days[0])|int }}%</div>
        <div class="green_cell">{{ claimers_days[0]|int }}</div>
        <div class="green_cell" style="background-color: whitesmoke">{{ feed_count_editor_days[0]|int }}</div>
        <div class="green_cell">{{ feed_author_user_days[0]|int }}</div>
        <div class="green_cell">{{ comments_days[0]|int }}</div>
        <div class="green_cell">{{ marks_days[0]|int }}</div>
        <div class="green_cell">{{ messages_days[0]|int }}</div>

    </div>
    {% for i in range(1,process_date|length) %}
    <div class="green_row" >
        <div class="green_cell" id="first_group" width="30%">{{ process_date[i] }}</div>
        <div class="green_cell">{{ active_members_days[i]|int }}</div>
        <div class="green_cell">{{ (active_times_days[i]/active_members_days[i])|round(1)}}</div>
        <div class="green_cell">{{ login_members_days[i] }}</div>
        <div class="green_cell">{{ login_newly_members_days[i]|int }}</div>
        <div class="green_cell">{{ activate_members_days[i]|int }}</div>
        <div class="green_cell">{{ activate_members_fin_days[i]|int }}</div>
        <div class="green_cell" style="background-color: whitesmoke">{{ (activate_members_fin_days[i]*100/activate_members_days[i])|int }}%</div>
        <div class="green_cell">{{ authorized_members_days[i]|int }}</div>
        <div class="green_cell" style="background-color: whitesmoke">{{ (authorized_members_days[i]*100/activate_members_days[i])|int }}%</div>
        <div class="green_cell">{{ claimers_days[i]|int }}</div>
        <div class="green_cell" style="background-color: whitesmoke">{{ feed_count_editor_days[i]|int }}</div>
        <div class="green_cell">{{ feed_author_user_days[i]|int }}</div>
        <div class="green_cell">{{ comments_days[i]|int }}</div>
        <div class="green_cell">{{ marks_days[i]|int }}</div>
        <div class="green_cell">{{ messages_days[i]|int }}</div>
    </div>
    {% endfor %}
    </div>
<br>
<div class="table1-left" style="width:50%;height: 250px">
    {{ overlap_newly_day|safe }}
</div>


<br><br>

{% endblock %}

